.pagina-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

.rodape {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 235, 235);
    height: 50px;
    color: rgb(115, 115, 115);
}

.topo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(46, 63, 244);
    height: 150px;
    color: aliceblue;
}
